@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/jizaRExUiTo99u79P0aOwuGN.woff) format('woff');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/jizfRExUiTo99u79B_mh4OqnKj0Y.woff) format('woff');
}
